/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width:600px) {
    #title_footer h1 {
        max-width: 450px;
    }
}

@media screen and (max-width:600px) {
    header {
        margin-top: 40%;
    }
}


@media screen and (max-width: 364px) {
    .games-grid {
        padding: 7px;
    }
}

@media screen and (max-width: 357px) {
    .games-grid {
        padding: 2px;
    }
}

@media screen and (max-width: 1200px) {
    .search {
        width: 75%;
    }
}

@media screen and (max-width: 720px) {
    .search {
        width: 80%;
    }
}